.bancolombia_bg{
    background: #ffc902;
}

.centrado{
    text-align: center;
  }

.about-header {
    background-color: #6bb840;
    width: 100%;
    height: 170px;
    text-align: center;
  }
  
  .about-header img {
    max-height: 100%;
  }
  
  .about-info p {
    color: var(--ion-color-dark);
    text-align: left;
  }
  
  .about-info ion-icon {
    margin-inline-end: 32px;
  }
  
  .ios .about-info {
    text-align: center;
  }
  
  img.pequeña{
    width: 40px; height: 40px;
  }
  img.foto{
    width: 50px; height: 50px;
  }
  img.mediana{
    width: 100px; height: 100px;
  }
  img.grande{
    width: 200px; height: 200px;
  }

  img.slide{
    width: 100px; height: 70px;
  }

  img.slide2{
    width: 70px; height: 180px;
  }

  .texto_verde{
    color:rgb(0, 170, 0);
  }