<ion-app [class.dark-theme]="dark">
  <ion-split-pane>

    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-title>EcoMovil <img src="assets/img/Eco-Car.png" alt="carro" class="pequeña"></ion-title>
        </ion-toolbar>
        <ion-toolbar>
            <ion-grid>
                <ion-row>
                  <ion-col size="2">
                    <ion-avatar item-start>
                      <img src="assets/img/carro.png" alt="carro" class="pequeña">
                    </ion-avatar>
                  </ion-col>
                  <ion-col size="10">
                    {{persona.nombres}}
                    <p style="font-size: 11px;">Calificación : <label class="texto_verde">{{persona.reputacion}}</label></p>
                  </ion-col>
                </ion-row>
              </ion-grid>
        </ion-toolbar>


      </ion-header>
      <ion-content>

        <ion-list>
          <ion-list-header>
            Colaboración
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="active" routerDirection="root">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>

        <ion-list *ngIf="loggedIn">
          <ion-list-header>
            Cuenta
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/account" routerDirection="root">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Perfil
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="logout()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>

      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

  </ion-split-pane>

</ion-app>
