@import "./pages/login/login";

.active {
  color: var(--ion-color-primary);
  ion-icon {
    color: var(--ion-color-primary);
  }
}

.primary{
  color: #00AA00 !important;
}


.gm-style .gm-style-iw-c {
  visibility: hidden !important;
}

.gm-style .gm-style-iw-c ::after{
  visibility: hidden !important;
}
