<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="registro_nuevo"></ion-menu-button>
    </ion-buttons>
  
    
      <ion-title>Registrar vehiculo</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="about-header">
      <img src="assets/img/ecosistema.png" alt="ionic logo">
    </div>
  
  
    <form #loginForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="stacked" color="primary">Placa</ion-label>
          <ion-input [(ngModel)]="formularioVehiculo.placa" name="placa"  maxlength="6" type="text" #placa="ngModel" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
   
        <ion-text color="danger">
          <p [hidden]="placa.valid || placa.untouched || submitted == false" class="ion-padding-start">
            El numero de la placa es requerido
          </p>
        </ion-text>
  
        <ion-item>
          <ion-label position="stacked" color="primary">Marca</ion-label>
          <ion-select  [(ngModel)]="formularioVehiculo.marca" name="marca">
            <ion-select-option value="1">HYUNDAI</ion-select-option>
            <ion-select-option value="1">MAZDA</ion-select-option>
            <ion-select-option value="2">TOYOTA</ion-select-option>
          </ion-select>
         </ion-item>
  
         <ion-item>
          <ion-label position="stacked" color="primary">Linea</ion-label>
          <ion-input [(ngModel)]="formularioVehiculo.referencia" name="referencia"  maxlength="6" type="text" #referencia="ngModel" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
   
        <ion-item>
          <ion-label position="stacked" color="primary">Modelo</ion-label>
              <ion-range min="2005" max="2019"   [(ngModel)]="formularioVehiculo.modelo"  name="modelo" color="secondary">
                <ion-label slot="start"></ion-label>
                <ion-label slot="end">{{formularioVehiculo.modelo}}</ion-label>
              </ion-range>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked" color="primary" name="numeroPuestos">puestos</ion-label>
          <ion-range min="1" max="4" step="1" [(ngModel)]="formularioVehiculo.puestos"  name="puestos" color="secondary">
              <ion-label slot="start"></ion-label>
              <ion-label slot="end" >{{formularioVehiculo.puestos}} </ion-label> 
            </ion-range>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked" color="primary">Color</ion-label>          
          <ion-select  [(ngModel)]="formularioVehiculo.color" name="color"  #color="ngModel" >
            <ion-select-option value="1">NEGRO</ion-select-option>
            <ion-select-option value="2">BLANCO</ion-select-option>
            <ion-select-option value="3">GRIS</ion-select-option>
            <ion-select-option value="4">ROJO</ion-select-option>
            <ion-select-option value="5">AZUL</ion-select-option>
            <ion-select-option value="6">CAFE</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="color.valid || color.untouched || submitted == false" class="ion-padding-start">
            El telefono celular es necesario
          </p>
        </ion-text>
  
        <ion-item>
          <ion-label position="stacked" color="primary">Foto vehiculo</ion-label>
          <ion-input [(ngModel)]="formularioVehiculo.fotoVehiculo" name="fotoVehiculo" type="text" maxlength="50" #fotoVehiculo="ngModel" required>
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-item>
          <ion-label position="stacked" color="primary">Foto matricula</ion-label>
          <ion-input [(ngModel)]="formularioVehiculo.fotoMatricula" name="fotoMatricula" type="text" maxlength="50" #fotoMatricula="ngModel" required>
          </ion-input>
        </ion-item>
        
      <ion-item>
          <ion-label position="stacked" color="primary">Fecha de Soat</ion-label>
          <ion-datetime displayFormat="MM DD YY"   [(ngModel)]="formularioVehiculo.fechaSoat" name="fechaSoat" placeholder="Ingrese Fecha" required></ion-datetime>
        </ion-item>


      <ion-item>
          <ion-label position="stacked" color="primary">Fecha de tecnico-mecanica</ion-label>
          <ion-datetime  [(ngModel)]="formularioVehiculo.fotoMatricula" name="fotoMatricula" displayFormat="MM DD YY"  placeholder="Ingrese Fecha" required></ion-datetime>
        </ion-item>
      <ion-row>
        <ion-col>
          <ion-button (click)="guardarDatosVehiculo(loginForm)" type="submit" expand="block">Guardar</ion-button><br>
          <ion-button (click)="salir()" color="light" expand="block"> Salir</ion-button><br>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
  