<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mis Viajes</ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
  <ion-item>
    <div>
      <ion-card *ngFor="let dato of datosRutas; let i = index">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="8">
                <strong>{{dato.fechaReg}} </strong> <br>
                <strong>Origen: </strong>{{dato.origen.nombre}} <br>
                <strong>Destino: </strong>{{dato.destino.nombre}}
                <p><b>Puntos colombia:</b> 300</p>
                <p><b>CO2 ahorrado:</b>{{dato.numPersonas}} g/km</p>
              </ion-col>
              <ion-col size="4">
                <img src="../../../assets/img/m{{i+1}}.png" alt="carro" class="imgCircular">
              </ion-col>
            </ion-row>
          </ion-grid>
          <br>
          <div class="centrado">
              <ion-button (click)="openModal()" >Detalle del viaje</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    
    
  </ion-item>
</ion-content>
