<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
      <ion-title>Planear Viaje</ion-title>
  
      <ion-buttons slot="end">
        <ion-button (click)="presentFilter()">
          <span *ngIf="ios">Filter</span>
          <span *ngIf="!ios">
            <ion-icon slot="icon-only" name="options"></ion-icon>
          </span>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  

<ion-content>

  Aqui contenido!!

</ion-content>
