<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>EcoMovi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #mapCanvas class="map-canvas"></div>

  <div class="options"> 
    <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size="10">
                      <strong>Personas</strong>
                      <p>Jorge</p>
                      <p>Rafael</p>
                      <p>Carlos</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size="10">
                      <strong>Estaciones</strong>
                      <p *ngFor="let estacion of estacionesCard">{{estacion}}</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-card>
                <ion-card-content>
                  <ion-grid>
                    <ion-row>
                      <ion-col><strong>Puntos</strong></ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        <p class="puntosStyle">+{{puntos | number : '1.0-0'}}</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
          </ion-col>
          <ion-col>
            <ion-card>
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col><strong>Co2</strong></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <p class="co2Style">{{co2 | number : '1.1-1'}} g/km</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
</ion-content>