<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>EcoMobi</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>¿A donde te diriges hoy?</ion-title>
  </ion-toolbar>

  <ion-toolbar>
      <ion-searchbar [(ngModel)]="queryText" placeholder="Buscar..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #mapCanvas class="map-canvas"></div>

  <div class="centrado">
    <ion-button fill="clear" [hidden]="destinoSeleccionado" (click)="presentConfirm()" class="center-block btn btn-primary">
      Llevame
    </ion-button>
  </div>
</ion-content>
