.map-canvas {
    position: relative;
  
    height: 40%;
    width: 100%;
  
    background-color: transparent;
  
    opacity: 0;
    transition: opacity 150ms ease-in;
  }
  
  .show-map {
    opacity: 1;
  }

  ion-tab-button{
    font-size: 10px;
    --background-focused: rgb(0, 170, 0);
    --color-selected: rgb(0, 170, 0);
    ion-icon{
        font-size: 67.5px;
    }}