.map-canvas {
    position: absolute;
  
    height: 100%;
    width: 100%;
  
    background-color: transparent;
  
    opacity: 0;
    transition: opacity 150ms ease-in;
  }
  
  .show-map {
    opacity: 1;
  }

  .centrado {
    top: 86%;
    position: relative;
    z-index: 998;
  }

  .centrado > .center-block {
    min-width: 200px;
    max-width: 200px;
  }
