<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>EcoMovi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #mapCanvas class="map-canvas"></div>

  <div class="options">
    <div [hidden]="!modo">
      <ion-card *ngFor="let opcion of opciones" routerLink="/detalleRuta/{{opcion.id}}">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="10">
                <strong>Destino: </strong>{{opcion.name}}
                <p><b>Cupos disponibles:</b> {{opcion.cuposDisponibles}} + <b>Puntos:</b> {{opcion.puntos}}</p>
              </ion-col>
              <ion-col size="2">
                <img src="{{opcion.imagen}}" alt="carro" class="imgCircular">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
    
    <div [hidden]="modo">
      <ion-card *ngFor="let opcion of opciones">
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="10">
                <strong>{{opcion.name}}</strong>
                <p><b>Precio:</b> {{opcion.basePrice}} + <b>Co2:</b> {{opcion.baseCo2}} g/km</p>
              </ion-col>
              <ion-col size="2">
                <img src="{{opcion.imagen}}" alt="carro" class="pequeña">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button [selected]="modo" (click)="cambiarModo('eco')">
    <ion-icon name="leaf"></ion-icon>
    <ion-label>Eco</ion-label>
    <ion-badge>3</ion-badge>
  </ion-tab-button>

  <ion-tab-button [selected]="!modo" (click)="cambiarModo('otros')">
    <ion-icon name="cloud-outline"></ion-icon>
    <ion-label>Otros</ion-label>
    <ion-badge>5</ion-badge>
  </ion-tab-button>
</ion-tab-bar>
